@import '~css/variables'

.project-header
  text-align center
  color $white
  padding 26px 20px 32px 20px

.project-header__title
  font-size 2em
  font-weight $bold

.project-header__subtitle
  font-size 1.2em
  margin-top 4px

.project-header__description
  font-size 1em
  margin-top 10px

.project-header__link-wrap
  display flex
  align-items center
  justify-content center
  margin-top 20px

  .svg-wrap
    width 12px
    height 16px
    margin-right 6px

.project-header__link
  display block
  border-bottom 1px dotted



.project-content
  margin-top 40px
  .wrapper
    max-width 1400px

.project-content-item
  padding 20px 0
  &:first-child
    padding-top 0
  @media (min-width 600px)
    &:first-child
      padding-top 20px
    padding 40px 0
  text-align center

.project-content-item__text
  max-width 800px
  margin 0 auto 40px auto
  > div
    padding 20px
    border-width 6px
    border-style solid

.project-content-item__title
  font-size 1.8em
  line-height 1.2em
  font-weight $bold
  @media (min-width 600px)
    font-size 2.4em
    line-height 1em

.project-content-item__description
  font-size 1em
  margin-top 1em
  @media (min-width 600px)
    font-size 1.2em

.project-content-item__thumb

  > img
    width 100%

  &:not(:last-child)
    margin-bottom 20px

  &.lazyload
    opacity 0
    transform scale(.9)

  &.lazyloaded
    opacity 1
    transform scale(1)
    transition all .5s

