// Import des librairies / fichiers CSS

@import "~normalize.css/normalize.css"
@import "~animate.css/animate.css"

@import "~css/base/reset.css"
@import "~css/base/custom-reset"

@import "~css/variables"
@import "~css/abstracts/utils"
@import "~css/abstracts/transitions"

@import "~css/layout/body"

@import "~css/themes/light"
@import "~css/themes/dark"
@import "~css/themes/blue"

// App

.app-header
  text-align center
  padding-top 20px
  padding-bottom 40px
  width 100%

.app-header__title
  font-size 2em
  font-weight $bold

.app-header__subtitle
  font-size 1.2em