.wrapper
  max-width 800px
  margin 0 auto
  padding 0 20px
  box-sizing border-box

.svg-wrap
  svg
    width 100%
    height 100%
    pointer-events none
    fill $white

body
  &.dark
    .svg-wrap
      svg
        fill $black-mine-shaft
  &.blue
    .svg-wrap
      svg
        fill $blue-cloud-burst

